/* this is the CSS file for the other projects pages, unused blocks are to be expected. AND there are too many variables */
:root {
    --font-family-primary: 'Montreal', Arial, Helvetica, sans-serif;
    --font-family-secondary: 'Monument', Arial, Helvetica, sans-serif;
    --font-family-tertiary: 'MonumentNon', Arial, Helvetica, sans-serif;
    --background-color-primary: #000000;
    --background-color-secondary: rgba(0, 0, 0, 0.5);
    --background-color-tertiary: rgba(255, 255, 255, 0.2);
    --text-color-primary: white;
    --text-color-secondary: #ffffff;
    --text-color-tertiary: #bfbfbf;
    --box-shadow-color: rgba(255, 255, 255, 0.5);
    --box-shadow-blur: 10px;
    --blur-box-background-color: rgba(45, 45, 45, 0.1);
    /* stars, but they're squares, because of my code */
    --star-background-color: #ffffff;
    --twinkle-opacity-primary: 1;
    --twinkle-opacity-secondary: 0.5;
}

body {
    height: 100vh;
    margin: 0;
    font-family: var(--font-family-primary);
    overflow-y: scroll;
    background-color: var(--background-color-primary);
    transition: background-color 1s;
}

h1 {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 50px auto;
    font-size: 50px;
    font-family: var(--font-family-secondary);
    text-shadow: 0px 0px 10px #ffffff;
    color: var(--text-color-primary);
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4), 0px 0px 20px rgba(255, 255, 255, 0.4), 0px 0px 30px rgba(255, 255, 255, 0.4);
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

#checkbox {
    background-color: red;
}

#skyline {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    background-image: url('../images/skyline.png');
    background-repeat: repeat-x;
    z-index: 0;
}

#moon {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 150px;
    height: 150px;
    background-image: url('../images/moon.png');
    z-index: 1;
    animation: fadeInOut 5s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.blur-box {
    /* attempting to fix scrolling above the viewport. failed. */
    position: sticky;
    top: -50px;
    right: 0;
    left: 0;
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
    height: calc(100vh + 50px);
    width: 100vw;
    z-index: 1;
    background-color: var(--blur-box-background-color);
}

.star {
    position: fixed;
    top: -10px;
    width: 200px;
    height: 400px;
    background-color: var(--star-background-color);
    animation: rotateing 50s ease-in-out infinite;
}

@keyframes rotateing {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes flash {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.4), 0px 0px 20px rgba(0, 255, 0, 0.4), 0px 0px 30px rgba(0, 255, 0, 0.4);
    }
    20%, 24%, 55% {
        box-shadow: none;
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: var(--twinkle-opacity-primary);
    }
    50% {
        opacity: var(--twinkle-opacity-secondary);
    }
}


#title-container {
    background-color: var(--background-color-secondary); 
    border-radius: 10px;
    padding: 5px;
    margin: 50px auto;
    width: 200px;
    position: relative;
    z-index: 2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#toggleSnowBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#navbar {
    /* it's a mess! */
    box-sizing: border-box;
    width: 800px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px; 
    padding: 10px; 
    box-shadow: 0px 0px 10px var(--box-shadow-color); 
    align-items: center; 
    position: relative;
    z-index: 2;
    background-color: var(--background-color-tertiary); 
    /* because safari */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

#navbar a {
    color: var(--text-color-secondary);
    font-family: var(--font-family-tertiary);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

#navbar a:hover {
    text-shadow: 0px 0px 10px var(--text-color-secondary);
}

#navbar a:active {
    color: var(--text-color-tertiary);
}

#about-container {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    box-shadow: 0 0 50px #ffffff;
    position: relative;
    box-shadow: 0 0 10px 5px var(--box-shadow-color);
    z-index: 2;
}

#check-container {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    box-shadow: 0 0 50px #ffffff;
    position: relative;
    box-shadow: 0 0 10px 5px var(--box-shadow-color);
    z-index: 2;
}

.portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin: 50px auto;
    width: 800px;
    box-shadow: 0 0 10px 5px var(--box-shadow-color);
    position: relative;
    z-index: 2;
}

.portfolio-container .box {
    flex: 1 0 calc(33.333% - 20px);
    margin: 10px;
    background-image: linear-gradient(#c3e0f8, #ffffff);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out, max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
    text-decoration: none;
    max-height: 1000px;
    overflow: hidden;
    animation-fill-mode: forwards;
    transition: all 0.5s ease-in-out;
}

.hidden {
    opacity: 0;
    max-height: 0;
    margin: 0;
    transform: scale(0);
}

.visible {
    opacity: 1;
    max-height: 1000px;
    margin: 10px;
    transform: scale(1);
    animation: grow 0.5s ease-in-out forwards;
}

.box-gone {
    display: none;
}

@keyframes shrink {
    from { max-height: 1000px; opacity: 1; }
    to { max-height: 0; opacity: 0; }
}

@keyframes grow {
    from { max-height: 0; opacity: 0; }
    to { max-height: 1000px; opacity: 1; }
}

.portfolio-container .box .box-image {
    position: relative;
    flex: 1 0 auto;
    order: 2;
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio-container .box:hover {
    transform: scale(1.1);
    background-image: linear-gradient(#9dcdf5, #ffffff)
}

h2 {
    color: var(--text-color-primary);
    text-align: left;
    margin-bottom: 20px;
    margin-top: auto;
}

p {
    color: var(--text-color-primary);
    margin-bottom: 10px;
}

/* Snow effect */
.snowflake {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background-color: var(--snowflake-background-color);
    border-radius: 50%;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(calc(100vh - 10px)); /* pile up at the bottom, at least, that's the point */
    }
}

@font-face {
    font-family: 'Montreal';
    src: url(../fonts/Montreal.woff) format('woff');
    font-style: sans-serif;
}
@font-face {
    font-family: 'Monument';
    src: url(../fonts/Monument.woff) format('woff');
    font-style: sans-serif;
}
@font-face {
    font-family: 'MonumentNon';
    src: url(../fonts/MonumentNon.woff) format('woff');
    font-style: sans-serif;
}
