/* this is the CSS file for the portfolio page, unused blocks are to be expected */
:root {
    --primary-color: #003366;
    --secondary-color: #ffffff;
    --background-color: linear-gradient(180deg, #000000 0%, #000033 50%, #000066 100%);
    --font-family: 'Montreal', Arial, Helvetica, sans-serif;
    --font-monument: 'Monument', Arial, Helvetica, sans-serif;
    --font-monument-non: 'MonumentNon', Arial, Helvetica, sans-serif;
    --spotlight-image: url('../images/spot.png');
    --skyline-image: url('../images/skyline.png');
    --moon-image: url('../images/moon.png');
    --navbar-background: rgba(255, 255, 255, 0.2);
    --navbar-text-color: #ffffff;
    --navbar-text-shadow-color: #ffffff;
    --navbar-text-shadow: 0px 0px 10px var(--navbar-text-shadow-color);
    --about-container-background: #ffffff;
    --about-container-box-shadow: 0 0 50px #9ecaed;
    --portfolio-container-background: #ffffff;
    --portfolio-container-box-shadow: 0 0 50px #9ecaed;
    --portfolio-box-background: linear-gradient(#c3e0f8, #ffffff);
    --portfolio-box-hover-background: linear-gradient(#9dcdf5, #ffffff);
}

body {
    height: 100vh;
    margin: 0;
    font-family: var(--font-family);
    overflow-y: auto;
    background: var(--background-color);
}

h1 {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: 50px auto;
    font-size: 50px;
    font-family: var(--font-monument);
    text-shadow: 0px 0px 10px var(--secondary-color);
    color: var(--secondary-color);
    animation: flicker 3s infinite;
}

#spotlight-left {
    position: fixed;
    bottom: 1vh;
    left: 10vw;
    transform-origin: bottom;
    transform: translateY(100%);
    width: 200px;
    height: 600px;
    background-image: var(--spotlight-image);
    background-size: cover;
    animation: sway-left 6s ease-in-out infinite alternate;
    z-index: 0;
}

#spotlight-right {
    position: fixed;
    bottom: 1vh;
    right: 10vw;
    transform-origin: bottom;
    transform: translateY(100%);
    width: 200px;
    height: 600px;
    background-image: var(--spotlight-image);
    background-size: cover;
    animation: sway-right 6s ease-in-out infinite alternate;
    z-index: 0;
}

@keyframes sway-left {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes sway-right {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4), 0px 0px 20px rgba(255, 255, 255, 0.4), 0px 0px 30px rgba(255, 255, 255, 0.4);
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

#skyline {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    background-image: var(--skyline-image);
    background-repeat: repeat-x;
    z-index: 0;
}

#moon {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 150px;
    height: 150px;
    background-image: var(--moon-image);
    z-index: 1;
    animation: fadeInOut 5s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.star {
    position: fixed;
    top: -10px;
    width: 3px;
    height: 3px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    animation: twinkle 1s linear infinite;
}

@keyframes flash {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.4), 0px 0px 20px rgba(0, 255, 0, 0.4), 0px 0px 30px rgba(0, 255, 0, 0.4);
    }
    20%, 24%, 55% {
        box-shadow: none;
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#title-container {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 5px;
    margin: 50px auto;
    width: 200px;
    position: relative;
    z-index: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#toggleSnowBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#navbar {
    /* it's a mess! */
    box-sizing: border-box;
    width: 800px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px; 
    padding: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    align-items: center; 
    position: relative;
    z-index: 2;
    background-color: var(--navbar-background); 
    /* because safari */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

#navbar a {
    color: var(--navbar-text-color);
    font-family: var(--font-monument-non);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

#navbar a:hover {
    text-shadow: var(--navbar-text-shadow);
}

#navbar a:active {
    color: #bfbfbf;
}

#about-container {
    box-sizing: border-box;
    background-color: var(--about-container-background);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    box-shadow: var(--about-container-box-shadow);
    position: relative;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.portfolio-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: var(--portfolio-container-background);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    box-shadow: var(--portfolio-container-box-shadow);
    position: relative;
    z-index: 1;
}

.portfolio-container .box {
    flex: 1 0 calc(33.333% - 20px);
    margin: 10px;
    background-image: var(--portfolio-box-background);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    text-decoration: none;
}

.portfolio-container .box:hover {
    transform: scale(1.1);
    background-image: var(--portfolio-box-hover-background);
}

.portfolio-container .box-bigger {
    flex: 1 0 calc(33.333% - 20px);
    margin: 10px;
    background-image: var(--portfolio-box-background);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    animation: pulsate 2s infinite;
}

.portfolio-container .box-bigger::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    animation: sheen 2s infinite;
}

.portfolio-container .box-bigger:hover {
    transform: scale(1.1);
    background-image: var(--portfolio-box-hover-background);
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sheen {
    0% {
        rotate: 45deg;
        left: -200%;
        top: -200%;
    }
    100% {
        rotate: 45deg;
        left: 100%;
        top: 100%;
    }
}

h2 {
    color: var(--primary-color);
    text-align: left;
    margin-bottom: 20px;
    margin-top: auto;
}

p {
    color: var(--primary-color);
    margin-bottom: 10px;
}

@font-face {
    font-family: 'Montreal';
    src: url(../fonts/Montreal.woff) format('woff');
    font-style: sans-serif;
}
@font-face {
    font-family: 'Monument';
    src: url(../fonts/Monument.woff) format('woff');
    font-style: sans-serif;
}
@font-face {
    font-family: 'MonumentNon';
    src: url(../fonts/MonumentNon.woff) format('woff');
    font-style: sans-serif;
}
