/* this is the CSS file for the portfolio page, unused blocks are to be expected */
body {
    height: 100vh;
    margin: 0;
    font-family: 'Montreal', Arial, Helvetica, sans-serif;
    overflow-y: auto;
    background: linear-gradient(180deg, #000000 0%, #000033 50%, #000066 100%);
}

h1 {
    text-align: center;
    margin: 50px auto;
    font-size: 50px;
    font-family: 'Monument', Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px #ffffff;
    animation: flicker 2.5s infinite;
    color: white;
}

#spotlight-left {
    position: fixed;
    bottom: 1vh;
    left: 10vw;
    transform-origin: bottom;
    transform: translateY(100%);
    width: 200px;
    height: 600px;
    background-image: url('../images/spot.png');
    background-size: cover;
    animation: sway-left 6s ease-in-out infinite alternate;
    z-index: 0;
}

#spotlight-right {
    position: fixed;
    bottom: 1vh;
    right: 10vw;
    transform-origin: bottom;
    transform: translateY(100%);
    width: 200px;
    height: 600px;
    background-image: url('../images/spot.png');
    background-size: cover;
    animation: sway-right 6s ease-in-out infinite alternate;
    z-index: 0;
}

@keyframes sway-left {
    0% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes sway-right {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4), 0px 0px 20px rgba(255, 255, 255, 0.4), 0px 0px 30px rgba(255, 255, 255, 0.4);
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

#skyline {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 200px;
    background-image: url('../images/skyline.png');
    background-repeat: repeat-x;
    z-index: 0;
}

#moon {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 150px;
    height: 150px;
    background-image: url('../images/moon.png');
    z-index: 1;
    animation: fadeInOut 5s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.star {
    position: fixed;
    top: -10px;
    width: 3px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: twinkle 1s linear infinite;
}

.airplane {
    position: absolute;
    top: -10px;
    width: 3px;
    height: 3px;
    background-color: #ff0606;
    border-radius: 50%;
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.4), 0px 0px 20px rgba(0, 255, 0, 0.4), 0px 0px 30px rgba(0, 255, 0, 0.4);
    }
    20%, 24%, 55% {
        box-shadow: none;
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#title-container {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 5px;
    margin: 50px auto;
    width: 200px;
    position: relative;
    z-index: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#toggleSnowBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#navbar {
    /* it's a mess! */
    box-sizing: border-box;
    width: 800px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 10px; 
    padding: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    align-items: center; 
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.2); 
    /* because safari */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

#navbar a {
    color: #ffffff;
    font-family: 'MonumentNon', Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

#navbar a:hover {
    text-shadow: 0px 0px 10px #ffffff;
}

#navbar a:active {
    color: #bfbfbf;
}

#navbarImage {
    margin-left: auto;
    height: 50px;
    transition: transform 0.5s ease-in-out;
}

#navbarImage:hover {
    transform: rotate(360deg);
}

#about-container {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    box-shadow: 0 0 50px #9ecaed;
    position: relative;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

#navbarImage {
    margin-left: auto;
    height: 50px;
    transition: transform 0.5s ease-in-out;
}

#navbarImage:hover {
    transform: rotate(360deg);
}

#about-container {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    box-shadow: 0 0 50px #9ecaed;
    position: relative;
    z-index: 1;
}

.portfolio-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    box-shadow: 0 0 50px #9ecaed;
    position: relative;
    z-index: 1;
}

.portfolio-container .box {
    flex: 1 0 calc(33.333% - 20px);
    margin: 10px;
    background-image: linear-gradient(#c3e0f8, #ffffff);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
    text-decoration: none;
}

.portfolio-container .box:hover {
    transform: scale(1.1);
    background-image: linear-gradient(#9dcdf5, #ffffff)
}

h2 {
    color: #003366;
    text-align: left;
    margin-bottom: 20px;
    margin-top: auto;
}

p {
    color: #003366;
    margin-bottom: 10px;
}

/* Snow effect */
.snowflake {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(calc(100vh - 10px)); /* pile up at the bottom, at least, that's the point */
    }
}

/* cloud animation */
@keyframes cloudMove {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100vw);
    }
}

#cloud {
    position: fixed;
    top: 0;
    left: 0;
    width: 512px;
    height: 256px;
    background-image: url('images/cloud.png');
    background-size: cover;
    animation: cloudMove 30s linear infinite;
    z-index: 0;
}

@font-face {
    font-family: 'Montreal';
    src: url(../fonts/Montreal.woff) format('woff');
    font-style: sans-serif;
}
@font-face {
    font-family: 'Monument';
    src: url(../fonts/Monument.woff) format('woff');
    font-style: sans-serif;
}
@font-face {
    font-family: 'MonumentNon';
    src: url(../fonts/MonumentNon.woff) format('woff');
    font-style: sans-serif;
}
